body {
	font-family: Arial, sans-serif;
	background:#f4f5f7;
	margin:30px;
}


h1 {
	color:#333;
}


.box {
	background:white;
	padding:20px;
	margin-bottom:20px;
	border-radius:8px;
}


label {
	display:block;
	margin-bottom:10px;
}


input, select {
	padding:6px;
	margin-left:10px;
}


button {
	padding:10px 20px;
	cursor:pointer;
}


table {
	border-collapse:collapse;
	width:100%;
	font-size:14px;
}


th, td {

	border:1px solid #ccc;
	padding:8px;
	text-align:right;

}


th {
	background:#eee;
}